.navbar-color {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.social-links {
    display: flex;
    justify-content: space-between;
    width:  60%;
    margin: auto;
}

.social-links i {
    color: black;
    font-size: 7em;
    padding: 8px;
    padding-top: 50px;
    margin-top: 50px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.jumbotron-words {
    color: white;
}

.aboutme-section {
   margin-top: 40px;
   border-left-style: solid;
   border-left-color: teal;
   border-left-width: 2px; 
}

#Card.Img {
    height: 250px;
    width: 250px;
}

.cardbuttons a {
    display: block;
    justify-content: space-between;
}
.nav-item > .active {
    border-bottom: 1px solid #333;
}

.projects-div {
    /* margin-top: 200px; */
    margin-bottom: 200px;
}